.menu {
  float: left;
  width: 256px;
  transition: width .35s;
}

.content {
  float: left;
  width: calc(100% - 256px);
  overflow: hidden;
}

.min_menu {
  float: left;
  width: 64px;
  transition: width .35s;
}

.min_content {
  float: left;
  width: calc(100% - 64px);
  overflow: hidden;
}

.head {
  height: 50px;
  box-shadow: 0 0 5px 2px #aaa;
}

.body {
  height: calc(100vh - 80px);
  overflow: auto;
  padding: 20px;
}

.footer {
  height: 30px;
}
